<form id="create-category">
  <input type="text" name="name" placeholder="Category name">
  <input type="submit" value="Create">
</form>

<form id="add-link">
  <input type="text" name="link" placeholder="Link Location">

  <select>
    <% current_user.categories.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Add">
</form>

<ul id="category-list">
  <% current_user.categories.each do |category| %>
    <li class="category-list-item" data="<%= category.id %>">
      <%= category.name %>
      <input type="button" name="delete" value="Delete">
      <ul class="link-list">
        <% category.links.each do |link| %>
          <li class="link-list-item" data="<%= link.id %>">
            <%= link.link %>
            <input type="button" name="delete" value="Delete">
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>