<style>
body {
background-image: url("../assets/notebook.jpg");
background-repeat: no-repeat;
background-size: cover;
}
</style>
<div id="notebook_wrapper">
  <div id="notebook_desk">
    <div id="main_note" contenteditable="true">
    </div>
  <!-- create -->
    <div id="create">
      <a href="/users/<%=@notes1.user_id%>/notebook/new">
      <!-- <img src="/../public/assets/pencil.png"/>  -->Create</a>
    </div>
    <!-- edit note  -->
    <div id="edit">
      <a href="/users/<%=@notes1.user_id%>/notebook/<%= @notes1.id %>/edit"> Save </a>
    </div>
    <!-- delete note -->
    <div id="delete">
      <a href="/users/<%=@notes1.user_id%>/notebook/<%=@notes1.id%>/delete"> Delete </a>
    </div>
    <!-- new note -->
    <div id="new_note">
      <button type="submit">New Note</button>
    </div>
  </div>
  <div id='notebox' style='display: none'>
    <% @notes.each do |note|%>
    <h1 class='note_id' style='display: none'><%=note.id%></h1>
    <h2 class='title'><%=note.title%></h2>
    <h3 class='description'><%=note.description%></h3>
    <h4 class='content'><%=note.content%></h4>
    <h4 class='created_at'><%=note.created_at%></h4>
    <% end %>
  </div>
  <div class='notebook_container'>
    <!-- Page Left -->
    <div id="page_left">
      
    </div>
    
    <div id="drawer_left">
      <ul>
        <li><h1 class='note_id'></h1></li>
        <li><h2 class='title'></h2></li>
        <li><h3 class='description'></h3></li>
        <li><h4 class='content'></h4></li>
        <li><h4 class='created_at'></h4></li>
      </ul>
    </div>
    <div id="drawer_center">
      <ul>
        <li><h1 class='note_id'></h1></li>
        <li><h2 class='title'></h2></li>
        <li><h3 class='description'></h3></li>
        <li><h4 class='content'></h4></li>
        <li><h4 class='created_at'></h4></li>
      </ul>
    </div>
    <div id="drawer_right">
      <ul>
        <li><h1 class='note_id'></h1></li>
        <li><h2 class='title'></h2></li>
        <li><h3 class='description'></h3></li>
        <li><h4 class='content'></h4></li>
        <li><h4 class='created_at'></h4></li>
      </ul>
    </div>
    <div id="page_right">
    </div>
  </div>
</div>